# Telegram API
API_ID=
API_HASH=
BOT_TOKEN=

# Telegram Channel
CHANNEL_ID=

# MongoDB
MONGO_URI=

# AniNewsAPI URL
NEWS_API_URL=https://your-domain.com/api/news

# Bot Settings
CHECK_INTERVAL=300

# Owner ID (for admin commands)
OWNER_ID=

# Channel Branding
CHANNEL_BRAND=𝗔𝗻𝗶𝗳𝗹𝗶𝘅 𝗡𝗲𝘄𝘀 𝗡𝗲𝘁𝘄𝗼𝗿𝗸

# Fallback Image
FALLBACK_IMAGE=https://i.ibb.co/yLBQXvW/IMG-20260710-135314.png
